import Foundation

{% if is_blob_upload %}
#if canImport(UIKit)
import UIKit
#elseif canImport(AppKit)
import AppKit
#endif

{% endif %}

// lexicon: {{ lexicon_version }}, id: {{ lexicon_id }}

public struct {{ struct_name }}{{ conformance }} { 

    public static let typeIdentifier = "{{ lexicon_id }}" 
    
    {{- main_properties }}
    {{- record_struct }}                       
    {{- lex_definitions }}
    {{- query_parameters }}
    {{- input_struct }}
    {{- output_struct }}
    {{- errors_enum }}


{{ enums }}
}

{{ procedure }}
{{ query }}                           

