    public struct Parameters: Parametrizable {
    {%- for prop in properties %}
        public let {{ prop.name|sanitizeKeyword }}: {{ prop.type }}{% if prop.optional %}?{% endif %}
    {%- endfor %}
        
        public init({% for prop in properties %}
            {{ prop.name|sanitizeKeyword }}: {{ prop.type }}{% if prop.optional %}?{% if prop.wire_optional %} = nil{% endif %}{% endif %}{% if not loop.last %}, {% endif %}
        {%- endfor %}
            ) {
            {% for prop in properties -%}
            self.{{ prop.name|sanitizeKeyword }} = {{ prop.name|sanitizeKeyword }}
            {% endfor %}
        }
    }
