@Serializable
enum class {{ enum_name }} {
    {% for constant in constants %}
    @SerialName("{{ constant.value | escapeStringLiteral }}")
    {{ constant.name }}{% if not loop.last %},
    {% endif %}
    {% endfor %}
}
