sealed class {{ class_name }}Error(val name: String, val description: String?) {
        {% for error in errors %}
        object {{ error.name | sanitizeKeyword }}: {{ class_name }}Error("{{ error.name }}", "{{ error.description }}")
        {% endfor %}
    }
