@Serializable
    {% if properties %}
    data class {{ class_name }}Input(
        {% for prop in properties %}
        {% if prop.strict_decode %}
        {% if prop.description %}// {{ prop.description | escapeLineComment }}{{ '\n        ' -}}{% endif %}
        @Serializable(with = {{ prop.strict_serializer }}::class){{ '\n' -}}
        {% else %}
        {% if prop.description %}// {{ prop.description | escapeLineComment }}{% endif %}
        {% endif %}
        @SerialName("{{ prop.name | escapeStringLiteral }}")
        val {{ prop.name | sanitizeKeyword }}: {{ prop.type }}{% if prop.optional %} = null{% endif %}{% if not loop.last %},{% endif %}
        {% endfor %}
    )
    {% else %}
    class {{ class_name }}Input
    {% endif %}
