{% for def in definitions %}
{% if def.type == 'data_class' %}
{% if def.description %}
    /**
     * {{ def.description | escapeComment }}
     */
{% endif %}
    @Serializable
    {% if def.properties %}
    data class {{ def.name }}(
        {% for prop in def.properties %}
        {% if def.security_strict_documentation %}
        {% if prop.description %}
        /** {{ prop.description | escapeComment }} */
        {% endif %}
        {% if prop.strict_decode %}@Serializable(with = {{ prop.strict_serializer }}::class){{ '\n' -}}{% endif %}
        @SerialName("{{ prop.name | escapeStringLiteral }}")
        val {{ prop.name | sanitizeKeyword }}: {{ prop.type }}{% if prop.optional %} = null{% endif %}{% if not loop.last %},{% endif %}{{ '\n' -}}
        {% else %}
        {% if prop.strict_decode %}
        {% if prop.description %}/** {{ prop.description | escapeComment }} */{{ '\n        ' -}}{% endif %}
        @Serializable(with = {{ prop.strict_serializer }}::class){{ '\n' -}}
        {% else %}
        {% if prop.description %}/** {{ prop.description | escapeComment }} */{% endif %}
        {% endif %}
        @SerialName("{{ prop.name | escapeStringLiteral }}")
        val {{ prop.name | sanitizeKeyword }}: {{ prop.type }}{% if prop.optional %} = null{% endif %}{% if not loop.last %},{% endif %}
        {% endif %}
        {% endfor %}
    ) {
        companion object {
            const val TYPE_IDENTIFIER = "{{ lexicon_id | escapeStringLiteral }}#{{ def.name | camelCase | escapeStringLiteral }}"
        }
    }
    {% else %}
    class {{ def.name }} {
        companion object {
            const val TYPE_IDENTIFIER = "{{ lexicon_id | escapeStringLiteral }}#{{ def.name | camelCase | escapeStringLiteral }}"
        }
    }
    {% endif %}

{% elif def.type == 'type_alias' %}
{% if def.description %}
    /**
     * {{ def.description | escapeComment }}
     */
{% endif %}
    typealias {{ def.name }} = {{ def.target }}

{% endif %}
{% endfor %}
