{% if is_type_alias %}
    typealias {{ class_name }}Output = {{ type_alias_target }}
{% else %}
    @Serializable
    {% if properties %}
    data class {{ class_name }}Output(
        {% for prop in properties %}
        {% if prop.description %}// {{ prop.description }}{% endif %}
        @SerialName("{{ prop.name }}")
        val {{ prop.name | sanitizeKeyword }}: {{ prop.type }}{% if prop.optional %} = null{% endif %}{% if not loop.last %},{% endif %}
        {% endfor %}
    )
    {% else %}
    class {{ class_name }}Output
    {% endif %}
{% endif %}
