{% if description %}
    /**
     * {{ description }}
     */
{% endif %}
    @Serializable
    {% if properties %}
    data class {{ class_name }}(
        {% for prop in properties %}
        {% if prop.description %}/** {{ prop.description }} */{% endif %}
        @SerialName("{{ prop.name }}")
        val {{ prop.name | sanitizeKeyword }}: {{ prop.type }}{% if prop.optional %} = null{% endif %}{% if not loop.last %},{% endif %}
        {% endfor %}
    ) {
        companion object {
            const val TYPE_IDENTIFIER = "{{ lexicon_id }}"
        }
    }
    {% else %}
    class {{ class_name }} {
        companion object {
            const val TYPE_IDENTIFIER = "{{ lexicon_id }}"
        }
    }
    {% endif %}
